.goalies-page .text{
    display: inline-block;
    color: #11101d;
    font-size: 35px;
    font-weight: 500;
    margin: 18px
}
  
.goalies-page{
    position: relative;
    top: 0;
    left: 78px;
    z-index: 2;

    width: calc(100% - 78px);
    min-height: 100vh;
    transition: all 0.5s ease;

    background: #eefbff;

    padding: 0 50px;

}
  
.sidebar.open ~ div.app .goalies-page {
    left: 200px;
    width: calc(100% - 200px);
}

  
.goalies-page div.border {
    border: 3px solid black !important;
    height: 100vh;
}